<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Patrol Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>Patrol Name</th>
          <br/>
          <th>Progress</th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td>
            <input type="text" [(ngModel)] =edit.name/>
        </td>
        <br/>
        <td>
            <input type="text" [(ngModel)] =edit.mode/>
        </td>
      </tr>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Save</button>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Edit</button>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Delete</button>


